.Intro {
	display: flex;
	flex-wrap: nowrap;
}
h1 {
	font-size: 2.3rem;
	color: black;
}
.Intro > div {
	width: 50%;
	text-align: center;
}
.Intro > div > h1,
.Intro > div > p {
    text-align: left;
    padding-left: 35%;
    margin:0;
}