.MobileTeam {
  width: 100vw;
  overflow-x: scroll;
  padding: 50px 0;
  border: 1px solid red;
}
.MobileTeam_Slider {
  display: inline-block;
}
.MobileTeam_list {
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-column-gap: 10vw;
}
.MobileTeam_item {
  display: inline-block;
}
.MobileTeam_item_image {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.MobileTeam_item_name {
  text-align: center;
}