.Event_reservation {
  text-align: center;
  padding: 30px;
  height: 650px;
}

.Event_title {
  font-family: 'BebasNeue';
  letter-spacing: 5px;
  font-size: 24px;
  margin: 0;
  margin-bottom: 5px;
}
.Event_title span {
  font-size: 48px;
  letter-spacing: 3px;
  line-height: 68px;
}

.text_container_2 p,
.text_container_3 p {
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 21px;
  margin: 0;
}

.Event_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 105px 30px;
  color: white;
  font-family: 'Roboto';
  background-color: #4C27F2;
  background: linear-gradient(90deg, #4C27F2 , #8F00F1);
}

.Event_item {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
}


@media only screen and (max-width: 800px) {
  .Event_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
    color: white;
    background-color: #4C27F2;
    background: linear-gradient(to bottom, #4C27F2 , #8F00F1);
  }
  .Event_item {
    margin-top: 60px;
    margin-left: 50%;
    margin-right: 0;
    transform: translateX(-50%);
  }
  .Event_item_3 {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .Event_item {
    width: 80%;
  }
}

.Event_rsvpButton {
  font-family: 'Roboto';
  background-color: #4C27F2;
  display: inline-block;
  padding: 12px 45px;
  border-radius: 200px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  position: relative;
  transition: transform 0.8s cubic-bezier(.76,.17,.25,.83), opacity 0.8s cubic-bezier(.76,.17,.25,.83);
  transition-delay: 1s;
  opacity: 1;
  mix-blend-mode: normal;
}

.Event_mapTitle {
  font-family: 'BebasNeue';
  font-size: 40px;
  letter-spacing: 2px;
  padding: 0 10px;
}

#GoogleMap {
  position: relative;
}

.googleMapWrapper {
  height: 650px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.text_container_4 {
  width: 100%;
  z-index: 10;
  /* color: black; */
  position: absolute;
  top: 0;
  left: 0;
  height: 650px;
  padding-top: 7vh;
}








