.StudentDetail {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}
.StudentDetail--isCircleTransitioned {
  background-color: white;
}

.StudentDetail_transitionCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  z-index: 100000;
  background: linear-gradient(-225deg,#4C27F2, #8F00F1 60%);
  opacity: 1;
}
.StudentDetail--isCircleDisplayNone .StudentDetail_transitionCircle {
  display: none;
}
.StudentDetail--isCircleTransitioned .StudentDetail_transitionCircle {
  opacity: 0;
}

.StudentDetail_container {
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0s 0.3s;
}
.StudentDetail--isCircleTransitioned .StudentDetail_container {
  opacity: 1;
}


.StudentDetail_mobileBottomBar {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
  padding-top: 10px;
}
.StudentDetail_mobilePortfolioButton {
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-top: 10px;
  font-family: 'Roboto';
  font-size: 0.9rem;
  width: 10rem;
  height: 2.75rem;
  border: none;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  background-color: #4C27F2;
  color: #ffffff;
}
.StudentDetail_mobileIcons .StudentDetail_profile_text_icons_icon {
  margin: 0 8px;
}

.StudentDetail_closeButton {
    right: 0;
    top: 30px;
    position: fixed;
    z-index: 100;
    width: 3rem;
    margin-top: 1rem;
    margin-right: 3rem;
    cursor: pointer;
    border-radius: 50%;
}
.StudentDetail_closeButton:hover {
  transform: rotate(-90deg);
  transition: transform 0.4s ease;
}

.StudentDetail_profile_text {
    width: 55vw;
    height: 100vh;
    position: absolute;
    margin-top: 0;
    z-index: 69;
    display: inline-flex;
}

.StudentDetail_profile_mugshot {
    width: 45vw;
    height: 100vh;
    margin-left: 55vw;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: top 0 center;

}
.StudentDetail_profile_mugshot_student {
  height: 100%;
  transform: translateX(-25%);
}

.StudentDetail_profile_text_wrapper {
    margin: auto;
    width: 35vw;
}

.StudentDetail_profile_text_name {
    padding: 0;
    margin: 0;
    font-size: 3.25rem;
    font-family: 'BebasNeue-Bold';
    color: #2b3255;
    margin-left: 0.05rem;
}

.StudentDetail_profile_text_title {
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
    font-family: 'Roboto';
    color: #8f00f1;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-left: 0.05rem;
}

.StudentDetail_profile_text_icons {
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 0.05rem;
}

.StudentDetail_profile_text_icons_icon {
    height: 20px;
    margin-right: 16px;
}

.StudentDetail_profile_text_bio {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    font-family: 'Roboto';
    color: #2b3255;
    margin-top: 1.75rem;
    line-height: 200%;
}

.StudentDetail_profile_text_icons_button {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-size: 0.9rem;
    width: 10rem;
    height: 2.75rem;
    border: none;
    border-radius: 70px;
    -webkit-border-radius: 70;
    -moz-border-radius: 70;
    background-color: #4C27F2;
    color: #ffffff;
    margin-top: 1.85rem;
    cursor: pointer;
}

.StudentDetail_profile_mugshot_circle1 {
    position: relative;
    height: 100%;
    bottom: 70%;
    text-align: center;
    opacity: 0.85;
    mix-blend-mode: screen;
}

.StudentDetail_profile_mugshot_circle2 {
    position: relative;
    height: 100%;
    bottom: 145%;
    text-align: center;
    opacity: 0.85;
    mix-blend-mode: screen;
}

.StudentDetail_profile_mugshot_triangle1 {
    position: relative;
    height: 100%;
    bottom: 250%;
    text-align: center;
    opacity: 0.85;
    mix-blend-mode: overlay;

}

.StudentDetail_profile_mugshot_triangle2 {
    position: relative;
    height: 100%;
    bottom: 340%;
    text-align: center;
    opacity: 0.85;
    mix-blend-mode: overlay;
}

@media only screen and (max-width: 1024px) {
  .StudentDetail_profile_text_wrapper {
    width: 45vw;
  }
  .StudentDetail_profile_text_name {
    font-size: 3.25rem;
  }
  .StudentDetail_profile_text_title {
    font-size: 1.25rem;
  }
  .StudentDetail_profile_text_bio {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 599px) {
    .StudentDetail {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
    }

    .StudentDetail_mobileBottomBar {
      display: block;
    }

    .StudentDetail_profile_text_wrapper {
      width: 80vw;
    }

    .StudentDetail_profile_text {
        width: 100%;
        margin-top: 300px;
        display: block;
        height: unset;
        margin-bottom: 100px;
        padding-bottom: 20px;
    }

    .StudentDetail_profile_text_name {
        margin-top: 1.5rem;
        font-size: 3rem;
        margin-top: 2.25rem;
    }

    .StudentDetail_profile_text_title {
        margin-top: -0.5rem;
    }

    .StudentDetail_profile_text_bio {
        margin-top: 15px;
        line-height: 150%;
        font-size: 0.85rem;
        width: 90%;
    }

    .StudentDetail_profile_mugshot {
        width: 100%;
        height: 300px;
        margin-left: 0;
        background-size: 300px;
        text-align: center;
    }

    .StudentDetail_profile_text_icons {
      display: none;
    }

    .StudentDetail_closeButton {
      margin-top: 1.5rem;
      margin-right: 1.5rem;
      top: 0;
    }
    .StudentDetail_closeButton:hover {
      transform: rotate(0);
    }

    .StudentDetail_profile_text_icons_button {
      display: none;
    }

    .StudentDetail_profile_mugshot_circle1 {
      position: absolute;
      height: 100%;
      bottom: -48%;
      right: 50%;
      text-align: center;
      opacity: 0.85;
      mix-blend-mode: screen;
    }

    .StudentDetail_profile_mugshot_circle2 {
      position: absolute;
      height: 100%;
      bottom: -27%;
      right: 40%;
      text-align: center;
      opacity: 0.85;
      mix-blend-mode: screen;
    }

    .StudentDetail_profile_mugshot_triangle1 {
      position: absolute;
      height: 100%;
      bottom: -70%;
      right: 36%;
      text-align: center;
      opacity: 0.85;
      mix-blend-mode: overlay;
    }

    .StudentDetail_profile_mugshot_triangle2 {
      position: absolute;
      height: 100%;
      bottom: -63%;
      right: 30%;
      text-align: center;
      opacity: 0.85;
      mix-blend-mode: overlay;
    }
}

@media only screen and (max-width: 500px) {
  .StudentDetail_profile_text_wrapper {
    width: 90vw;
  }
  .StudentDetail_profile_text_name {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 5px;
  }
  .StudentDetail_profile_text_title {
    font-size: 15px;
  }
  .StudentDetail_profile_text_bio {
    line-height: 150%;
    font-size: 0.85rem;
    width: 100%;
  }
}
