.EventButton {
	background-color: #4C27F2;
	color: white;
	text-align: center;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  border-radius: 15px;
  padding:3px;
  border-radius: 25px;
  padding: 12px;
  width: 9rem;
}